extends layout

block layout-content
  div.View
    h1.Banner TWITCH API
    include templates/header.pug
    div.intro
        h1 Here is your #{curView.dashID} views, #{curUser.username}.
    div.gridparent
        each entity in curView 
            div.card 
             div.title
             each item in entity
                h1 !{item.name}
                h3 view count: !{item.view_count}
                img(src=`${item.box_art_url}` alt='pfp' style="width:10vw;") 