extends layout

block layout-content
  div.View
    h1.Banner TWITCH API
    include templates/header.pug
    div.intro
        h1 Here is your #{title.dashID} views, #{curUser.username}.
    div.gridparent
      each object in curView
          each value in object.views
            div.card 
              div.title
                each dA in tData 
                    h1 !{dA.display_name}
                    h3 view count: !{dA.view_count}
                    img(src=`${dA.profile_image_url}` alt='pfp' style="width:10vw;") 